In [85]:
# Importing packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [93]:
# Reading the csv files

circuits = pd.read_csv("data_raw/circuits.csv")
drivers = pd.read_csv("data_raw/drivers.csv")
driver_standings = pd.read_csv("data_raw/driver_standings.csv")
races = pd.read_csv("data_raw/races.csv")

In [62]:
display(circuits)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...

In [63]:
display(drivers)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
854,856,de_vries,45,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [64]:
display(driver_standings)

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
33897,71841,1098,840,0.0,16,16,0
33898,71842,1098,852,0.0,17,17,0
33899,71843,1098,830,0.0,18,18,0
33900,71844,1098,856,0.0,19,19,0
33901,71845,1098,855,0.0,20,20,0

In [94]:
# cleaning the circuits df

circuits.dtypes

# checking whether each row is numeric or not
circuits["alt"].str.isnumeric()

circuits['location'] = circuits['location'].str.lower()

# renaming country variable
circuits.rename(columns = {'country':'circuit_country'}, inplace = True)
circuits.rename(columns = {'name':'circuit_name'}, inplace = True)
circuits.rename(columns = {'location':'circuit_location'}, inplace = True)

# extracting list of non-numeric values
subset = circuits.query("alt.str.isnumeric() == False")
list_unique = pd.unique(subset["alt"])

list_old = ['\\N','-7']
list_new = [np.nan, -7]

# replacing NaN values
circuits["alt"] = circuits["alt"].replace(list_old, list_new)

# these are the same values
circuits["circuit_country"] = circuits["circuit_country"].replace("united states","usa")

# extracting a clean df
circuits.to_csv("data_clean/circuits.csv")

In [95]:
# displaying the clean circuits df
display(circuits)

,circuitId,circuitRef,circuit_name,circuit_location,circuit_country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,kuala lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,al daayen,Qatar,25.49000,51.45420,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,miami,USA,25.95810,-80.23890,NaN,http://en.wikipedia.org/wiki/Miami_Internation...

In [96]:
# isolating a list of countries to merge with the drivers df

subset = circuits.query("circuit_country.str.isnumeric() == False")
list_unique = pd.unique(subset["circuit_country"])
print(list_unique)

['Australia' 'Malaysia' 'Bahrain' 'Spain' 'Turkey' 'Monaco' 'Canada'
 'France' 'UK' 'Germany' 'Hungary' 'Belgium' 'Italy' 'Singapore' 'Japan'
 'China' 'Brazil' 'USA' 'United States' 'UAE' 'Argentina' 'Portugal'
 'South Africa' 'Mexico' 'Korea' 'Netherlands' 'Sweden' 'Austria'
 'Morocco' 'Switzerland' 'India' 'Russia' 'Azerbaijan' 'Saudi Arabia'
 'Qatar']

In [97]:
# cleaning the drivers df

drivers.dtypes

# cleaning the nationality column

drivers['nationality'] = drivers['nationality'].str.lower()

drivers['nationality'] = drivers['nationality'].replace("swiss","swedish")
drivers['nationality'] = drivers['nationality'].replace("east german","german")
# this is the same value

subset = drivers[drivers['nationality'] == "american-italian"]
# research for clarification

drivers['nationality'] = drivers['nationality'].replace("argentine-italian","italian")
drivers['nationality'] = drivers['nationality'].replace("american-italian","italian")
# replacing the values of nationality with the country represented by the racer

subset = drivers.query("nationality.str.isnumeric() == False")
list_nationality = pd.unique(subset["nationality"])
print(list_nationality)
# isolating a list of nationalities to replace with the correponding country 

list_country = ['UK','Germany','Spain','Finland','Japan','France','Poland','Brazil',
                'Italy','Australia','Austria','USA','Netherlands','Colombia','Portugal',
                'Canada','India','Hungary','Ireland','Denmark','Argentina','Czech Republic',
                'Malaysia','Switzerland','Belgium','Monaco','Venezuela','New Zealand','Chile',
                'Mexico','South Africa','Liechtenstein','Rhodesia','Uruguay','Thailand',
                'Russia','Indonesia','China']

# creating the country column to merge with drivers
drivers["country_represent"] = drivers["nationality"].replace(list_nationality, list_country)

# cleaning NaN values

drivers["number"].str.isnumeric()

number_subset = drivers.query("number.str.isnumeric() == False")
number_unique = pd.unique(number_subset["number"])

list_old = ['\\N']
list_new = [np.nan]

# replacing the NaN values
drivers["number"] = drivers["number"].replace(list_old, list_new)

# converting number into a numeric column
drivers["number"] = pd.to_numeric(drivers["number"])

# delete nationality column
# we're looking at the countries represented by the racers
drivers = drivers.drop(["nationality"], axis=1)
drivers = drivers.drop(["dob"], axis=1)
drivers = drivers.drop(["url"], axis=1)

# extracting a clean df
drivers.to_csv("data_clean/drivers.csv")

['british' 'german' 'spanish' 'finnish' 'japanese' 'french' 'polish'
 'brazilian' 'italian' 'australian' 'austrian' 'american' 'dutch'
 'colombian' 'portuguese' 'canadian' 'indian' 'hungarian' 'irish' 'danish'
 'argentine' 'czech' 'malaysian' 'swedish' 'belgian' 'monegasque'
 'venezuelan' 'new zealander' 'chilean' 'mexican' 'south african'
 'liechtensteiner' 'rhodesian' 'uruguayan' 'thai' 'russian' 'indonesian'
 'chinese']

In [98]:
# displaying the clean drivers df
display(drivers)

,driverId,driverRef,number,code,forename,surname,country_represent
0,1,hamilton,44.0,HAM,Lewis,Hamilton,UK
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,Germany
2,3,rosberg,6.0,ROS,Nico,Rosberg,Germany
3,4,alonso,14.0,ALO,Fernando,Alonso,Spain
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,Finland
...,...,...,...,...,...,...,...
852,854,mick_schumacher,47.0,MSC,Mick,Schumacher,Germany
853,855,zhou,24.0,ZHO,Guanyu,Zhou,China
854,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands
855,857,piastri,81.0,PIA,Oscar,Piastri,Australia
856,858,sargeant,2.0,SAR,Logan,Sargeant,USA

In [99]:
# creating the drivers_merge df

# merge drivers df w/ the driver_standings
drivers_merge = pd.merge(drivers,
                       driver_standings[["driverStandingsId","raceId",
                                         "driverId","points","position","wins"]],
                       on = "driverId",
                       how = "left")

# display the final merge
display(drivers_merge)

,driverId,driverRef,number,code,forename,surname,country_represent,driverStandingsId,raceId,points,position,wins
0,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,1.0,18.0,10.0,1.0,1.0
1,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,9.0,19.0,14.0,1.0,1.0
2,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,27.0,20.0,14.0,3.0,1.0
3,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,48.0,21.0,20.0,2.0,1.0
4,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,69.0,22.0,28.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
33904,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands,71803.0,1095.0,2.0,21.0,0.0
33905,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands,71825.0,1096.0,2.0,21.0,0.0
33906,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands,71844.0,1098.0,0.0,19.0,0.0
33907,857,piastri,81.0,PIA,Oscar,Piastri,Australia,71837.0,1098.0,0.0,12.0,0.0
33908,858,sargeant,2.0,SAR,Logan,Sargeant,USA,71840.0,1098.0,0.0,15.0,0.0

In [100]:
# merge races w/ circuits

circuits_merge = pd.merge(circuits,
                       races[["raceId","circuitId"]],
                       on = "circuitId",
                       how = "left")

#display the final merge
display(circuits_merge)

,circuitId,circuitRef,circuit_name,circuit_location,circuit_country,lat,lng,alt,url,raceId
0,1,albert_park,Albert Park Grand Prix Circuit,melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,1
1,1,albert_park,Albert Park Grand Prix Circuit,melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,18
2,1,albert_park,Albert Park Grand Prix Circuit,melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,36
3,1,albert_park,Albert Park Grand Prix Circuit,melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,55
4,1,albert_park,Albert Park Grand Prix Circuit,melbourne,Australia,-37.8497,144.9680,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,71
...,...,...,...,...,...,...,...,...,...,...
1097,77,jeddah,Jeddah Corniche Circuit,jeddah,Saudi Arabia,21.6319,39.1044,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,1099
1098,78,losail,Losail International Circuit,al daayen,Qatar,25.4900,51.4542,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...,1051
1099,78,losail,Losail International Circuit,al daayen,Qatar,25.4900,51.4542,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...,1115
1100,79,miami,Miami International Autodrome,miami,USA,25.9581,-80.2389,NaN,http://en.wikipedia.org/wiki/Miami_Internation...,1078
1101,79,miami,Miami International Autodrome,miami,USA,25.9581,-80.2389,NaN,http://en.wikipedia.org/wiki/Miami_Internation...,1102

In [101]:
# final marge drivers_merge w/ circuits_merge

driver_circuit_merge = pd.merge(drivers_merge,
                       circuits_merge[["circuitId","circuit_name","circuit_location","circuit_country","raceId"]],
                       on = "raceId",
                       how = "left")

# combining forename and surname to make a variable containing the fullname
driver_circuit_merge["fullname"] = driver_circuit_merge["forename"] + " " + driver_circuit_merge["surname"]

# display the final merge
display(driver_circuit_merge)

,driverId,driverRef,number,code,forename,surname,country_represent,driverStandingsId,raceId,points,position,wins,circuitId,circuit_name,circuit_location,circuit_country,fullname
0,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,1.0,18.0,10.0,1.0,1.0,1.0,Albert Park Grand Prix Circuit,melbourne,Australia,Lewis Hamilton
1,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,9.0,19.0,14.0,1.0,1.0,2.0,Sepang International Circuit,kuala lumpur,Malaysia,Lewis Hamilton
2,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,27.0,20.0,14.0,3.0,1.0,3.0,Bahrain International Circuit,sakhir,Bahrain,Lewis Hamilton
3,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,48.0,21.0,20.0,2.0,1.0,4.0,Circuit de Barcelona-Catalunya,montmeló,Spain,Lewis Hamilton
4,1,hamilton,44.0,HAM,Lewis,Hamilton,UK,69.0,22.0,28.0,3.0,1.0,5.0,Istanbul Park,istanbul,Turkey,Lewis Hamilton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33904,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands,71803.0,1095.0,2.0,21.0,0.0,18.0,Autódromo José Carlos Pace,são paulo,Brazil,Nyck de Vries
33905,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands,71825.0,1096.0,2.0,21.0,0.0,24.0,Yas Marina Circuit,abu dhabi,UAE,Nyck de Vries
33906,856,de_vries,45.0,DEV,Nyck,de Vries,Netherlands,71844.0,1098.0,0.0,19.0,0.0,3.0,Bahrain International Circuit,sakhir,Bahrain,Nyck de Vries
33907,857,piastri,81.0,PIA,Oscar,Piastri,Australia,71837.0,1098.0,0.0,12.0,0.0,3.0,Bahrain International Circuit,sakhir,Bahrain,Oscar Piastri
33908,858,sargeant,2.0,SAR,Logan,Sargeant,USA,71840.0,1098.0,0.0,15.0,0.0,3.0,Bahrain International Circuit,sakhir,Bahrain,Logan Sargeant

In [102]:
# summary statistics for each racer

driver_circuit_agg = (driver_circuit_merge.groupby(  ["driverId","fullname","circuit_country"])
                       .agg(mean_points = ('points','mean'),
                            sd_points =   ('points','std'),
                            min_points =  ('points','min'),
                            max_points =  ('points','max'),
                            count_wins   = ('wins',len)))

display(driver_circuit_agg)

# extract the final df
driver_circuit_agg.to_csv("data_clean/driver_circuit_agg.csv")

# Nyck de Vries was kicked out because he was not good enough

                                         mean_points   sd_points  min_points  \
driverId fullname       circuit_country
1        Lewis Hamilton Australia          15.923077    7.761674         0.0
                        Austria           126.000000   54.916300        12.0
                        Azerbaijan         95.833333   29.143896        62.0
                        Bahrain            69.176471  101.467504         0.0
                        Belgium           165.718750   64.971781        27.0
...                                              ...         ...         ...
856      Nyck de Vries  Singapore           2.000000         NaN         2.0
                        UAE                 2.000000         NaN         2.0
                        USA                 2.000000         NaN         2.0
857      Oscar Piastri  Bahrain             0.000000         NaN         0.0
858      Logan Sargeant Bahrain             0.000000         NaN         0.0

                                         max_points  count_wins
driverId fullname       circuit_country
1        Lewis Hamilton Australia              28.0          13
                        Austria               197.0          11
                        Azerbaijan            139.0           6
                        Bahrain               332.0          17
                        Belgium               268.0          16
...                                             ...         ...
856      Nyck de Vries  Singapore               2.0           1
                        UAE                     2.0           1
                        USA                     2.0           1
857      Oscar Piastri  Bahrain                 0.0           1
858      Logan Sargeant Bahrain                 0.0           1

[9315 rows x 5 columns]